<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div {{ stimulus_controller('search-posts') }} data-search-posts-endpoint-value="/debug/search-results?q=">
            <input type="text" {{ stimulus_target('search-posts', 'query') }} data-action="input->search-posts#execSearch">
            <button {{ stimulus_action('search-posts', 'execSearch') }}>
                Search
            </button>

            <div id="search-results">
                <span>Loading</span>
            </div>
        </div>

        {% block body %}{% endblock %}
    </body>
</html>
