{% for content in contents %}
    {% if content.comment is defined and content.comment is not null %}
        <div id="{{ content.id }}" class="search-result-content container">
            <div class="row">
                <div class="col-12 search-result-content__subreddit">
                    r/{{ content.post.subreddit }}
                </div>
            </div>
            <div class="row">
                <div class="col-8 col-lg-11">
                    {{ content.post.title }}
                    Comment | {{ content.comment.author_text.text }}
                </div>
            </div>
            <div class="row">
                <div class="col-8 offset-4 col-lg-11 offset-lg-1">
                    {{ content.post.score }} <i class="fa-regular fa-comment"></i> 400 Comments
                </div>
            </div>
        </div>
    {% else %}
        <div id="{{ content.id }}" class="search-result-content container">
            <div class="row">
                <div class="col-12 search-result-content__subreddit">
                    r/{{ content.post.subreddit }}
                </div>
            </div>
            <div class="row">
                {% if content.post.thumbnail %}
                    <div class="col-4 col-lg-1">
                        <img class="img-fluid" src="{{ content.post.thumbnail.path }}" />
                    </div>
                {% endif %}
                <div class="col-8 col-lg-11">
                    {{ content.post.title }}
                </div>
            </div>
            <div class="row">
                <div class="col-8 offset-4 col-lg-11 offset-lg-1">
                    {{ content.post.score }} <i class="fa-regular fa-comment"></i> 400 Comments
                </div>
            </div>
        </div>
    {% endif %}
{% endfor %}