{% for content in contents %}
    {% if content.comment is defined and content.comment is not null %}
        <div id="{{ content.id }}" class="search-result-content">
            <div class="row">
                <div class="col-12 search-result-content__header mb-1">
                    r/{{ content.post.subreddit }} | {{ content.comment.author }} commented on <em>{{ content.post.title }}</em>
                </div>
            </div>
            <div class="row">
                <div class="col font-size--14">
                    {{ content.comment.latestCommentAuthorText.authorText.text }}
                </div>
            </div>

        {{ include('contents/list/_content_footer.html.twig', {
            postScore: content.post.score,
            commentsCount: content.post.comments.count,
        }) }}

        </div>
    {% else %}
        <div id="{{ content.id }}" class="search-result-content">
            <div class="row">
                <div class="col-12 search-result-content__header mb-2">
                    r/{{ content.post.subreddit }}
                </div>
            </div>
            <div class="row">
                {% if content.post.thumbnail %}
                    <div class="col-4 col-lg-1">
                        {{ component('asset_render', {
                            asset: content.post.thumbnail
                        }) }}
                    </div>
                {% endif %}
                <div class="col-8 col-lg-11 font-size--14">
                    {{ content.post.title }}
                </div>
            </div>

            {{ include('contents/list/_content_footer.html.twig', {
                postScore: content.post.score,
                commentsCount: content.post.comments.count,
            }) }}

        </div>
    {% endif %}
{% endfor %}