{% extends 'layout.html.twig' %}

{% block main_content %}

    {% if content.post.subreddit.bannerBackgroundImageAsset %}
        <div class="row">
            <div class="col">
                <div class="border--thin-gray">
                    {{ component('asset_render', {
                        asset: content.post.subreddit.bannerBackgroundImageAsset,
                    }) }}
                </div>
            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="col">
            <div class="search-result-content border-radius--bottom-25em">
                <div class="row search-result-content__header">
                    <div class="col-lg-6">
                        <span>r/{{ content.post.subreddit.name }}</span> | <span>Posted by u/{{ content.post.author }}</span> on <span>{{ content.post.createdAt|date("Y-m-d") }}</span>
                    </div>

                    <div class="col-lg-6 text-lg-end">
                        {% for postAward in content.post.postAwards %}
                                {{ component('asset_render', {
                                    asset: postAward.award.iconAsset,
                                    customClass: "width--16px"
                                }) }}
                        {% endfor %}

                        {% if content.post.flairText %}
                            {{ include('helpers/custom_label.html.twig', {
                                labelColor: content.post.flairText.labelColor,
                                labelFontColor: content.post.flairText.labelFontColor ,
                                labelText: content.post.flairText.displayText,
                                customClasses: 'mb-1',
                            }) }}
                        {% endif %}
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <h6 class="font-size--18 color--black mt-2">{{ content.post.title }}</h6>
                        {% if content.post.latestPostAuthorText %}
                            <span>{{ content.post.latestPostAuthorText.authorText.textHtml|raw }}</span>
                        {% endif %}
                    </div>
                </div>

                <div class="row">
                    <div class="col text-center">
                        {{ component('youtube_video_render', {
                            content: content,
                        }) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col text-center">
                        {% for mediaAsset in content.post.mediaAssets %}
                            {{ component('asset_render', {
                                asset: mediaAsset,
                                linkImage: true,
                                thumbnailAsset: content.post.thumbnailAsset,
                            }) }}
                        {% endfor %}
                    </div>
                </div>

                {{ include('contents/list/_content_footer.html.twig', {
                    content: content,
                    postScore: content.post.score,
                    commentsCount: content.post.comments.count,
                    redditLink: content.post.redditPostUrl
                }) }}
            </div>
        </div>
    </div>

    {{ component('comment_threads', {
        content: content,
    }) }}

{% endblock %}