<div class="row">
    <div class="col search-result-content__header mb-1">
        {% if content.isCommentContent %}
            r/{{ content.post.subreddit.name }} | {{ content.comment.author }} commented on <em>{{ content.post.title }}</em>
        {% else %}
            r/{{ content.post.subreddit.name }}
        {% endif %}
    </div>

    <div class="col search-result-content__header mb-1 text-end">
        {% if content.isCommentContent %}
{#            {% for commentAward in content.comment.commentAwards %}#}
{#                {{ component('asset_render', {#}
{#                    asset: commentAward.award.iconAsset,#}
{#                    customClass: "width--16px"#}
{#                }) }}#}
{#            {% endfor %}#}
            {% if content.comment.flairText %}
                {{ include('helpers/custom_label.html.twig', {
                    labelColor: content.comment.flairText.labelColor,
                    labelFontColor: content.comment.flairText.labelFontColor ,
                    labelText: content.comment.flairText.displayText,
                    customClasses: 'font-size--8 mb-1',
                }) }}
            {% endif %}
        {% else %}
{#            {% for postAward in content.post.postAwards %}#}
{#                {{ component('asset_render', {#}
{#                    asset: postAward.award.iconAsset,#}
{#                    customClass: "width--16px"#}
{#                }) }}#}
{#            {% endfor %}#}
            {% if content.post.flairText %}
                {{ include('helpers/custom_label.html.twig', {
                    labelColor: content.post.flairText.labelColor,
                    labelFontColor: content.post.flairText.labelFontColor ,
                    labelText: content.post.flairText.displayText,
                    customClasses: 'font-size--8 mb-1',
                }) }}
            {% endif %}
        {% endif %}
    </div>
</div>
