<tr id={{ "error-log-row-#{errorLog.id}" }}>

    <th scope="row">{{ errorLog.id }}</th>
    <td>{{ errorLog.createdAt| date('Y-m-d H:i:s') }}</td>
    <td>{{ errorLog.url }}</td>
    <td>{{ errorLog.error|u.truncate(50, '...') }} <div class="d-none" data-sync-error-row-target="extra">delta</div>
        {{ include('helpers/modal_with_cta.html.twig', {
            id: "error-#{errorLog.id}-error-more",
            title: "Error",
            body: "<p>#{errorLog.error}</p>",
            ctaLabel: "More",
            ctaStyle: "font-size--8 color--light-gray",
            button: false,
        }) }}
    </td>
    <td>
        {{ include('helpers/modal_with_cta.html.twig', {
            id: "error-#{errorLog.id}-json",
            title: "Content JSON",
            body: "<p>#{errorLog.contentJSON}</p>",
            ctaLabel: "Content JSON",
            ctaStyle: "btn btn-sm btn-secondary",
            button: true,
        }) }}

        {{ include('helpers/modal_with_cta.html.twig', {
            id: "error-#{errorLog.id}-trace",
            title: "Stack Trace",
            body: "<p>#{errorLog.errorTrace}</p>",
            ctaLabel: "Stack Trace",
            ctaStyle: "btn btn-sm btn-secondary",
            button: true,
        }) }}
    </td>
    <td>
        <button id={{ "error-log-resync-#{errorLog.id}" }} class="btn btn-primary btn-sm" error-log-id={{ errorLog.id }}
            hx-post={{ url('sync_errors_resync', { id: errorLog.id }) }}
            hx-indicator={{ "#error-log-loader-#{errorLog.id}" }}
            _="on htmx:beforeRequest toggle .d-none until htmx:afterOnLoad
            on htmx:beforeSwap
              if event.detail.xhr.status === 200
                remove .d-none from #{`error-log-success-` + my@error-log-id}
                add .d-none to #{`error-log-delete-` + my@error-log-id}
                remove me
              else if event.detail.xhr.status === 500
                put event.detail.xhr.response at the end of closest <td/>
              end
            end"
            hx-swap="none"
        >
            <i class="fa-solid fa-arrows-rotate"></i>
        </button>

        <span id={{ "error-log-loader-#{errorLog.id}" }} class="text-info font-size--20 hx-loader">
            {{ include('icons/loading_icon.html.twig') }}
        </span>

        <button id={{ "error-log-delete-#{errorLog.id}" }} class="btn btn-danger btn-sm" error-log-id={{ errorLog.id }}
            hx-delete={{ url('sync_errors_delete', { id: errorLog.id }) }}
            hx-indicator={{ "#error-log-loader-#{errorLog.id}" }}
            _="on htmx:beforeRequest toggle .d-none until htmx:afterOnLoad
                on htmx:beforeSwap
                    if event.detail.xhr.status === 200
                        remove .d-none from #{`error-log-success-` + my@error-log-id}
                        add .d-none to #{`error-log-resync-` + my@error-log-id}
                        remove me
                    end
                end"
            hx-swap="none"
        >
            <i class="fa-solid fa-trash-can"></i>
        </button>

        <span id={{ "error-log-success-#{errorLog.id}" }} class="d-none text-success">
            <i class="fa-solid fa-circle-check"></i>
        </span>
    </td>
</tr>