<div class="row" {{ stimulus_controller('search-posts') }} data-search-posts-endpoint-value="/search?q=">
    {{ form_start(searchForm) }}
        <div class="my-custom-class-for-errors">
            {{ form_errors(searchForm) }}
        </div>

        <div class="row">
            <div class="col">
                <div class="search-form form-control mb-3">
                    <div class="row">
                        <div>
                            {{ form_widget(searchForm.query) }}

                            <small>{{ form_help(searchForm.query) }}</small>

                            <div class="form-error">
                                {{ form_errors(searchForm.query) }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6 mt-3">
                            {{ form_widget(searchForm.subreddits) }}

                            <small>{{ form_help(searchForm.subreddits) }}</small>

                            <div class="form-error">
                                {{ form_errors(searchForm.subreddits) }}
                            </div>
                        </div>
                        <div class="col-sm-6 mt-3">
                            {{ form_widget(searchForm.flairTexts) }}

                            <small>{{ form_help(searchForm.flairTexts) }}</small>

                            <div class="form-error">
                                {{ form_errors(searchForm.flairTexts) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{ form_end(searchForm) }}

    <div id="search-results">
        {{ include('search-results.html.twig') }}
    </div>
</div>