<div {{ attributes }}>

    <div class="row">
        <div class="col">
            {{ form_start(computed.searchForm) }}
            <div class="my-custom-class-for-errors">
                {{ form_errors(computed.searchForm) }}
            </div>

            <div class="row">
                <div class="col">
                    <div class="search-form form-control mb-3">
                        <div class="row">
                            <div>
                                {{ form_widget(computed.searchForm.query) }}

                                <small>{{ form_help(computed.searchForm.query) }}</small>

                                <div class="form-error">
                                    {{ form_errors(computed.searchForm.query) }}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6 mt-3">
                                {{ form_widget(computed.searchForm.subreddits) }}

                                <small>{{ form_help(computed.searchForm.subreddits) }}</small>

                                <div class="form-error">
                                    {{ form_errors(computed.searchForm.subreddits) }}
                                </div>
                            </div>
                            <div class="col-sm-6 mt-3">
                                {{ form_widget(computed.searchForm.flairTexts) }}

                                <small>{{ form_help(computed.searchForm.flairTexts) }}</small>

                                <div class="form-error">
                                    {{ form_errors(computed.searchForm.flairTexts) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{ form_end(computed.searchForm) }}
        </div>
    </div>

    <div class="row">
        <div class="col">
            {{ include('contents/_list.html.twig', {contents: this.contents}) }}
        </div>
    </div>
</div>