{% if this.isVideo %}
    <video controls autoplay loop class="w-100 {{ this.customClass }}" src="{{ this.path }}" poster="{{ this.videoPoster }}"></video>
{% else %}
    {% if linkImage %}
        <a href="{{ computed.path }}" target="_blank"><img class="img-fluid {{ this.customClass }}" src="{{ computed.path }}" /></a>
    {% else %}
        <img class="img-fluid {{ this.customClass }}" src="{{ this.path }}" />
    {% endif %}
{% endif %}