{% for tag in content.tags %}
    {{ include('helpers/custom_label.html.twig', {
        labelColor: tag.labelColor,
        labelFontColor: tag.labelFontColor ,
        labelText: tag.name,
    }) }}
{% endfor %}

<button class="btn--no-style"
    hx-get={{ url('tags_inline_edit', { contentId: content.id }) }}
    hx-indicator={{ "#inline-tags-loader-#{content.id}" }}
    _="on htmx:beforeRequest toggle .d-none until htmx:afterOnLoad"
    hx-target={{ "#tags-inline-#{content.id}" }}
    hx-swap="innerHTML"
><i class="color--light-gray fa-solid fa-tags"></i></button>

<span id={{ "inline-tags-loader-#{content.id}" }} class="comments-thread__sync-button hx-loader">
    {{ include('icons/loading_icon.html.twig') }}
</span>