{% if button %}
    <button data-bs-toggle="modal" data-bs-target="#{{ id }}" class="{{ ctaStyle|default('') }}">{{ ctaLabel }}</button>
{% else %}
    <span role="button" data-bs-toggle="modal" data-bs-target="#{{ id }}" class="{{ ctaStyle|default('') }}">{{ ctaLabel }}</span>
{% endif %}

<div id="{{ id }}" class="modal" tabindex="-1" data-sync-error-row-target="modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ title }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body overflow-auto">
                {{ body|raw }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>