{% extends 'layout.html.twig' %}

{% block main_content %}

    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>

    <div>

        <div class="row">
            <div class="col">
                {{ form_start(form, { 'attr' : {
                    'autocomplete': 'off',
                    'hx-get': '/v2/search',
                    'hx-trigger': 'submit',
                    'hx-target': '#search-results',
                    'hx-select': '#search-results'
                }}) }}
                <div class="my-custom-class-for-errors">
                    {{ form_errors(form) }}
                </div>

                <div class="row">
                    <div class="col">
                        <div class="search-form form-control mb-3">
                            <div class="row">
                                <div>
                                    {{ form_widget(form.query) }}

                                    <small>{{ form_help(form.query) }}</small>

                                    <div class="form-error">
                                        {{ form_errors(form.query) }}
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-4 mt-3">
                                    {{ form_widget(form.subreddits, {'attr': {
                                        '_': 'on change send submit to the closest <form/>',
                                    }}) }}

                                    <small>{{ form_help(form.subreddits) }}</small>

                                    <div class="form-error">
                                        {{ form_errors(form.subreddits) }}
                                    </div>
                                </div>
                                <div class="col-sm-4 mt-3">
                                    {{ form_widget(form.flairTexts, {'attr': {
                                        '_': 'on change send submit to the closest <form/>',
                                    }}) }}

                                    <small>{{ form_help(form.flairTexts) }}</small>

                                    <div class="form-error">
                                        {{ form_errors(form.flairTexts) }}
                                    </div>
                                </div>
                                <div class="col-sm-4 mt-3">
                                    {{ form_widget(form.tags, {'attr': {
                                        '_': 'on change send submit to the closest <form/>',
                                    }}) }}

                                    <small>{{ form_help(form.tags) }}</small>

                                    <div class="form-error">
                                        {{ form_errors(form.tags) }}
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col mt-3 text-center color--white" data-loading="hide">
                                    <h6 class="mb-0">{{ searchResults.total|number_format(0, ',') }} Results</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>

        <div id="search-results">
            <div class="row">
                <div class="col text-center font-size--36 color--white" data-loading>
                    {{ include('icons/loading_icon.html.twig') }}
                </div>
            </div>

            <div class="row">
                <div class="col" data-loading="hide">
                    {% if searchResults.total > 0 %}
                        {{ include('contents/_pagination2.html.twig', {
                            paginator: paginator,
                        }) }}
                    {% endif %}
                </div>
            </div>

            <div class="row">
                <div class="col" data-loading="hide">
                    {{ include('contents/_list.html.twig', {contents: searchResults.results}) }}
                </div>
            </div>

            <div class="row">
                <div class="col" data-loading="hide">
                    {% if searchResults.total > 0 %}
                        {{ include('contents/_pagination2.html.twig', {
                            paginator: paginator,
                        }) }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}